* {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%; }
  body a {
    color: inherit;
    text-decoration: inherit; }

.navigation_bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 26px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
  background-color: #fed40a; }
  .navigation_bar .index_button {
    font-family: "Poiret One";
    font-size: 1.2em;
    color: #4c4c4c;
    float: right;
    padding: 0px 20px 0px 20px;
    margin: 2px 0px 2px 0px; }
  .navigation_bar a:hover {
    color: white; }

.content {
  width: 100%; }
  .content .header {
    background-color: #fed40a;
    text-align: center; }
    @media (max-width: 768px) {
      .content .header {
        padding-top: 40vh;
        padding-right: 15vw;
        padding-bottom: 20vh;
        padding-left: 15vw;
        min-height: 40vh; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .content .header {
        padding-top: 40vh;
        padding-right: 15vw;
        padding-bottom: 20vh;
        padding-left: 15vw;
        min-height: 40vh; } }
    .content .header .name {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 7%;
      white-space: nowrap;
      font-family: "Poiret One";
      font-size: 6vw;
      color: white; }
    .content .header .introduction {
      margin-right: auto;
      margin-left: auto;
      font-family: "Lora", serif;
      font-style: italic;
      font-size: 1em;
      line-height: 180%;
      color: #4c4c4c; }
  .content .about {
    padding-top: 10vh;
    padding-right: 15vw;
    padding-bottom: 20vh;
    padding-left: 15vw;
    min-height: 70vh;
    min-height: 100%;
    width: 70%; }
    .content .about #picture {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2.7em;
      max-width: 221px;
      max-height: 278px;
      width: auto;
      height: auto; }
    .content .about p {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
      font-family: "Lora", serif;
      font-style: normal;
      font-size: 1em;
      line-height: 180%;
      color: #4c4c4c;
      text-align: justify; }
  .content .work {
    display: block;
    padding-right: 10vw;
    padding-bottom: 20vh;
    padding-left: 10vw;
    overflow-x: auto;
    overflow-y: hidden; }
    .content .work h2 {
      font-family: "Poiret One";
      font-size: 4vw;
      color: #4c4c4c;
      text-align: center;
      text-transform: uppercase;
      padding-top: 70px;
      margin-bottom: 15vh; }
    .content .work .project-block {
      margin: auto; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .content .work .project-block {
          float: left;
          width: 33.33333%; } }
      .content .work .project-block .screenshot {
        position: relative;
        display: block;
        max-width: 203px;
        max-height: 362px;
        width: auto;
        height: auto;
        margin: auto; }
      .content .work .project-block .project_title {
        position: relative;
        font-family: "Poiret One";
        font-size: 1.3em;
        margin-top: 10%;
        margin-bottom: 3%;
        color: #4c4c4c;
        text-align: center; }
      .content .work .project-block hr {
        width: 80%;
        height: 4px;
        color: #fed40a;
        background-color: #fed40a;
        border: 0;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10%; }
      .content .work .project-block .project_description {
        font-family: "Lora", serif;
        font-style: normal;
        font-size: 1em;
        line-height: 180%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        width: 80%;
        color: #4c4c4c;
        text-align: center; }
  .content .contact {
    /*padding: 0% 6% 0% 10%;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 220px;
    min-width: 650px;*/
    overflow: scroll;
    background-color: #4c4c4c; }
    .content .contact .block_inside_contact {
      overflow: hidden; }
      @media (max-width: 768px) {
        .content .contact .block_inside_contact {
          margin: 0 3vw;
          padding: 5vh 0; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .content .contact .block_inside_contact {
          float: left;
          width: 50vw; } }
      .content .contact .block_inside_contact h2 {
        margin-top: 0.4em;
        margin-bottom: 0.6em;
        font-family: "Poiret One";
        font-size: 4vh;
        color: white;
        text-align: left; }
        @media (max-width: 768px) {
          .content .contact .block_inside_contact h2 {
            margin-top: 3vh;
            font-size: 4vh;
            line-height: 180%; } }
      .content .contact .block_inside_contact .contact_information {
        font-family: "Poiret One";
        font-style: normal;
        color: white; }
        @media (max-width: 768px) {
          .content .contact .block_inside_contact .contact_information {
            font-size: 3.4vh;
            line-height: 180%; } }
      .content .contact .block_inside_contact .social_media {
        float: left;
        margin-bottom: auto;
        font-size: 3.4vh;
        color: #fed40a;
        width: 20%;
        text-align: center; }
        @media (max-width: 768px) {
          .content .contact .block_inside_contact .social_media {
            width: 18.8vw;
            margin-bottom: auto; } }
  .content .footer {
    padding: 0% 4% 0% 4%;
    font-family: "Poiret One";
    color: white;
    background-color: #4c4c4c;
    text-align: center; }

/*# sourceMappingURL=style-sheet.css.map */
