* {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%; }
  body a {
    color: inherit;
    text-decoration: inherit; }

.navigation_bar {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fed40a; }
  @media (max-width: 767px) {
    .navigation_bar {
      padding-top: 1.5vh;
      padding-right: 6vw;
      padding-bottom: 1.5vh;
      padding-left: 1vw; } }
  .navigation_bar .index_button {
    font-family: "Poiret One";
    color: #4c4c4c;
    float: right; }
    @media (max-width: 767px) {
      .navigation_bar .index_button {
        padding: 0px 3vw 0px 3vw;
        font-size: 2.8vh; } }
  .navigation_bar a:hover {
    color: white; }

.content {
  width: 100%; }
  .content .header {
    background-color: #fed40a;
    text-align: center; }
    @media (max-width: 767px) {
      .content .header {
        padding-top: 40vh;
        padding-bottom: 20vh;
        min-height: 40vh; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .content .header {
        padding-top: 40vh;
        padding-right: 15vw;
        padding-bottom: 20vh;
        padding-left: 15vw;
        min-height: 40vh; } }
    .content .header .name {
      white-space: nowrap;
      font-family: "Poiret One";
      color: white;
      text-align: center;
      margin-right: auto;
      margin-left: auto; }
      @media (max-width: 767px) {
        .content .header .name {
          padding-right: 6vw;
          padding-left: 6vw;
          margin-bottom: 7vh;
          font-size: 4.5vh; } }
    .content .header .introduction {
      margin-right: auto;
      margin-left: auto;
      font-family: "Lora", serif;
      font-style: italic;
      color: #4c4c4c; }
      @media (max-width: 767px) {
        .content .header .introduction {
          padding-right: 8vw;
          padding-left: 8vw;
          font-size: 2.5vh;
          line-height: 180%; } }
  .content .about {
    min-height: 100%; }
    @media (max-width: 767px) {
      .content .about {
        padding-top: 10vh;
        padding-right: 15vw;
        padding-bottom: 10vh;
        padding-left: 15vw;
        min-height: 70vh; } }
    .content .about #picture {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 7vh;
      max-width: 221px;
      max-height: 278px;
      width: auto;
      height: auto; }
    .content .about p {
      margin-left: auto;
      margin-right: auto;
      font-family: "Lora", serif;
      font-style: normal;
      color: #4c4c4c;
      text-align: justify; }
      @media (max-width: 767px) {
        .content .about p {
          font-size: 2.5vh;
          line-height: 180%; } }
  .content .work {
    display: block;
    overflow-y: hidden; }
    @media (max-width: 767px) {
      .content .work {
        padding: 10vh 10vw 20vh 10vw; } }
    .content .work h2 {
      font-family: "Poiret One";
      color: #4c4c4c;
      text-align: center;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .content .work h2 {
          padding-bottom: 8vh;
          font-size: 4vh; } }
    .content .work .project-block {
      margin: auto; }
      @media (max-width: 767px) {
        .content .work .project-block {
          padding: 3vh 2vw; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .content .work .project-block {
          float: left;
          width: 33.33333%; } }
      .content .work .project-block .screenshot {
        position: relative;
        display: block;
        max-width: 203px;
        max-height: 362px;
        width: auto;
        height: auto;
        margin: auto; }
      .content .work .project-block .project_title {
        font-family: "Poiret One";
        color: #4c4c4c;
        text-align: center; }
        @media (max-width: 767px) {
          .content .work .project-block .project_title {
            font-size: 3.2vh;
            margin-top: 3vh;
            margin-bottom: 2vh; } }
      .content .work .project-block hr {
        width: 80%;
        height: 4px;
        color: #fed40a;
        background-color: #fed40a;
        border: 0;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vh; }
      .content .work .project-block .project_description {
        font-family: "Lora", serif;
        font-style: normal;
        margin-left: auto;
        margin-right: auto;
        color: #4c4c4c;
        text-align: center; }
        @media (max-width: 767px) {
          .content .work .project-block .project_description {
            font-size: 2.5vh;
            line-height: 180%;
            width: 80vw; } }
  .content .contact {
    /*padding: 0% 6% 0% 10%;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 220px;
    min-width: 650px;*/
    overflow: scroll;
    background-color: #4c4c4c; }
    .content .contact .block_inside_contact {
      overflow: hidden; }
      @media (max-width: 767px) {
        .content .contact .block_inside_contact {
          margin: 0 3vw;
          padding: 5vh 0; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .content .contact .block_inside_contact {
          float: left;
          width: 50vw; } }
      .content .contact .block_inside_contact h2 {
        font-family: "Poiret One";
        font-size: 4vh;
        color: white;
        text-align: left; }
        @media (max-width: 767px) {
          .content .contact .block_inside_contact h2 {
            margin-top: 3vh;
            margin-bottom: 3vh;
            font-size: 4vh;
            line-height: 180%; } }
      .content .contact .block_inside_contact .contact_information {
        font-family: "Poiret One";
        font-style: normal;
        color: white; }
        @media (max-width: 767px) {
          .content .contact .block_inside_contact .contact_information {
            font-size: 3.4vh;
            line-height: 180%; } }
      .content .contact .block_inside_contact .social_media {
        float: left;
        margin-bottom: auto;
        color: #fed40a;
        width: 20%;
        text-align: center; }
        @media (max-width: 767px) {
          .content .contact .block_inside_contact .social_media {
            width: 18.8vw;
            margin-bottom: 2vh;
            font-size: 5vh; } }
  .content .footer {
    padding: 0% 4% 0% 4%;
    font-family: "Poiret One";
    color: white;
    background-color: #4c4c4c;
    text-align: center; }

/*# sourceMappingURL=style-sheet.css.map */
