.about {
	@media (max-width: 767px) {
		padding-top: 10vh;
		padding-right: 15vw;
		padding-bottom: 10vh;
		padding-left: 15vw;
		min-height: 70vh;
	}

	min-height: 100%;


	#picture {
		display: block;

		margin-right: auto;
		margin-left: auto;
		margin-bottom: 7vh;

   		max-width:221px;
    	max-height:278px;
	    width: auto;
	    height: auto;	
	}

	p{
		margin-left: auto;
		margin-right: auto;

		font-family: $body;
		font-style: normal;
		

		color: $gray;

		text-align: justify;

		@media (max-width: 767px) {
			font-size: 2.5vh;
			line-height: 180%;
		}
	}
}