.about {
	@media (max-width: 767px) {
		padding: 10vh 15vw 10vh 15vw;
		min-height: 70vh;
	}

	@media (min-width: 768px) and (max-width: 991px) {
		padding: 8vh 15vw 8vh 15vw;
		min-height: 84vh;
	}

	@media (min-width: 992px) {
		padding: 8vh 10vw 8vh 10vw;
		min-height: 84vh;
	}

	#picture {
		display: block;

		margin-right: auto;
		margin-left: auto;
		margin-bottom: 7vh;

   		max-width:221px;
    	max-height:278px;
	    width: auto;
	    height: auto;	
	}

	p{
		font-family: $body;
		font-style: normal;
		color: $gray;
		text-align: justify;

		@media (max-width: 767px) {
			font-size: 2.5vh;
			line-height: 180%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			font-size: 2.5vh;
			line-height: 180%;
			margin-bottom: 2vh;
		}

		@media (min-width: 992px) {
			font-size: 2.5vh;
			line-height: 180%;
			margin-bottom: 2vh;
	}
	}
}