.about {
	@media (max-width: 767px) {
		padding-top: 10vh;
		padding-right: 15vw;
		padding-bottom: 10vh;
		padding-left: 15vw;
		min-height: 70vh;
	}

	@media (min-width: 768px) and (max-width: 991px) {
		padding: 8vh 15vw 8vh 15vw;
		padding-top: 10vh;
		padding-right: 10vw;
		padding-bottom: 10vh;
		padding-left: 10vw;
		min-height: 80vh;
	}

	min-height: 100%;

	#picture {
		display: block;

		margin-right: auto;
		margin-left: auto;
		margin-bottom: 7vh;

   		max-width:221px;
    	max-height:278px;
	    width: auto;
	    height: auto;	
	}

	p{
		margin-left: auto;
		margin-right: auto;

		font-family: $body;
		font-style: normal;
		color: $gray;
		text-align: justify;

		@media (max-width: 767px) {
			font-size: 2.5vh;
			line-height: 180%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			font-size: 2.5vh;
			line-height: 180%;
			margin-bottom: 2vh;
		}
	}
}