.contact {
	/*padding: 0% 6% 0% 10%;
	padding-top: 2em;
	padding-bottom: 2em;
	min-height: 220px;
	min-width: 650px;*/
	
	overflow: scroll;


	background-color: $gray;
	

	.block_inside_contact {

		overflow: hidden;

		@media (max-width: 767px) {
			margin: 0 3vw;
			padding: 5vh 0;

		}

		@media (min-width: 992px) and (max-width: 1199px){
			float: left;
			width: 50vw;
		}


		

		h2 {

			@media (max-width: 767px) {
				margin-top: 3vh;
				font-size: 4vh;
				line-height: 180%;
			}

			margin-top: 0.4em;
			margin-bottom: 0.6em;

			font-family: $titles;
			font-size: 4vh;

			color: $white;

			text-align: left;
		}

		.contact_information {
			@media (max-width: 767px) {
				font-size: 3.4vh;
				line-height: 180%;
			}

			
			font-family: $titles;
			font-style: normal;
			
			color: $white; 
		}

		.social_media {

			@media (max-width: 767px) {
				width: 18.8vw;
				margin-bottom: auto;
			}


			float: left;
			margin-bottom: auto;

			font-size: 3.4vh;

			color: $yellow;
			width: 20%;

			text-align: center;
		}
	}
}