.contact {
	padding: 0% 6% 0% 10%;
	padding-top: 2em;
	padding-bottom: 2em;
	min-height: 220px;
	min-width: 650px;

	background-color: $gray;
	

	.block_inside_contact {
		float: left;
		width: 50%;

		h2 {
			margin-top: 0.4em;
			margin-bottom: 0.6em;

			font-family: $titles;
			font-size: 4vw;

			color: $white;

			text-align: left;
		}

		.contact_information {
			margin-bottom: 1em;

			font-family: $titles;
			font-style: normal;
			font-size: 1.3em;
			line-height: 180%;
			color: $white; 
		}

		.social_media {
			float: left;
			margin-top: 1.8em;
			margin-bottom: auto;

			font-size: 2.5em;

			width: 20%;
			color: $yellow;

			text-align: center;
		}
	}
}