.contact {	
	overflow: scroll;
	background-color: $gray;
	
	.block_inside_contact {
		overflow: hidden;

		@media (max-width: 767px) {
			margin: 0 3vw;
			padding: 5vh 0;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			box-sizing: border-box;
			padding: 5vh 2vw 5vh 1vw;
			float: left;
			width: 50%;
		}

		@media (min-width: 992px) {
			box-sizing: border-box;
			padding: 5vh 2vw 5vh 5vw;
			float: left;
			width: 50vw;
		}

		h2 {
			font-family: $titles;
			font-size: 4vh;
			color: $white;
			text-align: left;

			@media (max-width: 767px) {
				margin-top: 3vh;
				margin-bottom: 3vh;
				font-size: 4vh;
				line-height: 180%;
			}

			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 4vh;
				line-height: 180%;
			}

			@media (min-width: 992px) {
				font-size: 4vh;
				line-height: 180%;
			}
		}

		.contact_information {
			font-family: $titles;
			font-style: normal;
			color: $white; 

			@media (max-width: 767px) {
				font-size: 3.4vh;
				line-height: 180%;
			}

			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 2.2vh;
				line-height: 180%;
			}

			@media (min-width: 992px) {
				font-size: 3.4vh;
				line-height: 180%;
			}
		}

		.social_media {
			float: left;
			margin-bottom: auto;
			color: $yellow;
			width: 20%;
			text-align: center;

			@media (max-width: 767px) {
				width: 18.8%;
				margin-bottom: 2vh;
				font-size: 5vh;
			}

			@media (min-width: 768px) and (max-width: 991px) {
				width: 18.8%;
				margin: 7vh 0 7vh 0;
				font-size: 5vh;
			}

			@media (min-width: 992px) {
				width: 18.8%;
				margin: 7vh 0 7vh 0;
				font-size: 5vh;
			}
		}
	}
}