.header {
	background-color: $yellow;
	text-align: center;

	@media (max-width: 767px) {
		padding-top: 40vh;
		padding-bottom: 20vh;
		min-height: 40vh;
	}

	@media (min-width: 768px) and (max-width: 991px){
		padding-top: 40vh;
		padding-bottom: 20vh;
		min-height: 40vh;
	}

	@media (min-width: 992px) and (max-width: 1199px){
		padding-top: 40vh;
		padding-bottom: 20vh;
		min-height: 40vh;
	}

	.name {
		white-space: nowrap;
		font-family: $titles;
		color: $white;

		@media (max-width: 767px) {
			padding-right: 6vw;
			padding-left: 6vw;
			margin-bottom: 7vh;
			font-size: 4.5vh;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding-right: 4vw;
			padding-left: 4vw;
			margin-bottom: 7vh;
			font-size: 5.5vh;
		}

		@media (min-width: 992px) {
			padding-right: 4vw;
			padding-left: 4vw;
			margin-bottom: 7vh;
			font-size: 7vh;
		}
	}

	.introduction {
		font-family: $body;
		font-style: italic;
		color: $gray;

		@media (max-width: 767px) {
			padding-right: 8vw;
			padding-left: 8vw;
			font-size: 2.5vh;
			line-height: 180%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding-right: 8vw;
			padding-left: 8vw;
			font-size: 2.5vh;
			line-height: 180%;
		}

		@media (min-width: 992px) {
			padding-right: 8vw;
			padding-left: 8vw;
			font-size: 2.5vh;
			line-height: 180%;
		}

	}
}