.header {
	background-color: $yellow;
	text-align: center;

	padding-top: 40vh;
	padding-bottom: 20vh;
	min-height: 40vh;

	.name {
		white-space: nowrap;
		font-family: $titles;
		color: $white;
		margin-bottom: 7vh;

		@media (max-width: 767px) {
			padding-right: 6vw;
			padding-left: 6vw;
			font-size: 2.5em;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding-right: 4vw;
			padding-left: 4vw;
			font-size: 5.5vh;
		}

		@media (min-width: 992px) {
			padding-right: 4vw;
			padding-left: 4vw;
			font-size: 7vh;
		}
	}


	.introduction {
		font-family: $text;
		font-style: italic;
		color: $gray;

		padding-right: 10vw;
		padding-left: 10vw;
		font-size: 1.2em;
		line-height: 180%;
	}
}