@import 'fonts-and-colours';



.navigation_bar {

	overflow: hidden;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: $yellow;

	@media (max-width: 767px) {
		padding-top: 1.5vh;
		padding-right: 6vw;
		padding-bottom: 1.5vh;
		padding-left: 1vw;	
	}

	
	.index_button {
		font-family: $titles;
		color: $gray;
		float: right;

		@media (max-width: 767px) {
			padding: 0px 3vw 0px 3vw;
			font-size: 2.8vh; 
		}
	}

	a:hover {
		color: $white;
	}
}