@import 'fonts-and-colours';

.navigation_bar {
	overflow: hidden;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: $yellow;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row-reverse;
  	flex-direction: row-reverse;
	-webkit-justify-content: flex-start;
	-justify-content: flex-start;
	-webkit-align-items: center;
  	align-items: center;

	@media (max-width: 767px) {
		padding: 1.5vh 0 1.5vh 0;
	}

	@media (min-width: 768px) and (max-width: 991px){
		padding: 1vh 0vw 1vh 0vw;
	}

	@media (min-width: 992px) {
		padding: 2vh 0vw 2vh 0vw;
	}
	
	.index_button {
		font-family: $titles;
		color: $gray;

		@media (max-width: 767px) {
			padding: 0 3vw 0 3vw;
			font-size: 2.8vh; 
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding: 0 3vw 0 3vw;
			font-size: 2.8vh; 
		}

		@media (min-width: 992px) {
			padding: 0 2.5vw 0 2.5vw;
			font-size: 3.2vh; 
			a:hover {
			color: $white;
			}
		}
	}
}