@import 'fonts-and-colours';

.navigation_bar {
	position: fixed;
	width: 100vw;
	z-index: 1;
	background-color: $yellow;


	@media (max-width: 767px) {
		 padding: 1.5vh 2vw 1.5vh 0; 
	}

	@media (min-width: 768px) and (max-width: 991px){
		padding: 1vh 0vw 1vh 0vw;
	}

	@media (min-width: 992px) {
		padding: 2vh 0vw 2vh 0vw;
	}
	
	.index_button {
		font-family: $titles;
		color: $gray;
		text-align: center;

		@media (max-width: 767px) {
			font-size: 1.6em; 
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding: 0 3vw 0 3vw;
			font-size: 2.8vh; 
		}

		@media (min-width: 992px) {
			padding: 0 2.5vw 0 2.5vw;
			font-size: 3.2vh; 
			a:hover {
			color: $white;
			}
		}
	}
}