.work {
	display: block;
	padding-top: 0px;
	padding-right: 10vw;
	padding-bottom: 20vh;
	padding-left: 10vw;
	width: 80vw;

	overflow: hidden;

	h2 {
		font-family: $titles;
		font-size: 4vw;
		color: $gray;

		text-align: center;
		text-transform: uppercase;
		padding-top: 70px;
		margin-top: 10vh;
		margin-bottom: 15vh;
	} 

	.project-block {
		display: block;
		float: left;
		width: 33.33%;
	
		.screenshot {
			position: relative;
			display: block;
			max-width:203px;
	    	max-height:362px;
		    width: auto;
		    height: auto;
		    margin: auto;
		}

		.project_title {
			position: relative;

			font-family: $titles;
			font-size: 1.3em;

			margin-top: 10%;
			margin-bottom: 3%;

			color: $gray;

			text-align: center;
		}

		hr {
			width: 80%;
			height: 4px;
			color: $yellow;
			background-color: $yellow;
			border: 0;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 10%;
		}

		.project_description {
			font-family: $body;
			font-style: normal;
			font-size: 1em;
			line-height: 180%;

			margin-left: auto;
			margin-right: auto;
			margin-bottom: 2em;
			width: 80%;

			color: $gray;

			text-align: center;
		}
	}
}