$number-of-columns: 3;
$image-width: 203px;
$image-height: 362px; 


.work {
	display: block;
	overflow-y: hidden;

	@media (max-width: 767px) {
		padding: 10vh 10vw 20vh 10vw;
	}

	@media (min-width: 768px) and (max-width: 991px) {
		padding: 5vh 10vw 15vh 10vw;
	}
	
	h2 {
		font-family: $titles;
		color: $gray;
		text-align: center;
		text-transform: uppercase;

		@media (max-width: 767px) {
			padding-bottom: 8vh;
			font-size: 4vh;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding-bottom: 8vh;
			font-size: 4vh;
		}
	} 

	.project-block {
		margin: auto;

		@media (max-width: 767px) {
			padding: 3vh 2vw;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			box-sizing: border-box;
			padding: 3vh 2vw;
			float: left;
			width: 1 / 2 * 100%;
			overflow: hidden;
		}

		@media (min-width: 992px) and (max-width: 1199px){
			float: left;
			width: 1 / $number-of-columns * 100%;
		}

		.screenshot {
			position: relative;
			display:block; 
			max-width: $image-width;
	    	max-height: $image-height;
		    width: auto;
		    height: auto;
		    margin: auto;
		}

		.project_title {
			font-family: $titles;
			color: $gray;
			text-align: center;

			@media (max-width: 767px) {
				font-size: 3.2vh;
				margin-top: 3vh;
				margin-bottom: 2vh;
			}	

			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 3.2vh;
				margin-top: 3vh;
				margin-bottom: 2vh;
			}	

			@media (min-width: 992px) and (max-width: 1199px) {
				font-size: 3.2vh;
				margin-top: 3vh;
				margin-bottom: 2vh;
			}	
		}
		}

		hr {
			width: 80%;
			height: 4px;
			color: $yellow;
			background-color: $yellow;
			border: 0;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 2vh;
		}

		.project_description {
			font-family: $body;
			font-style: normal;
			margin-left: auto;
			margin-right: auto;
			color: $gray;
			text-align: center;

			@media (max-width: 767px) {
			font-size: 2.5vh;
			line-height: 180%;
			width: 80vw;
			}

			@media (min-width: 768px) and (max-width: 991px) {
			font-size: 2.4vh;
			line-height: 180%;
			width: 80%;
			}
		}
	}
